@import 'shared.less';

#landing-image-top {
  position: relative;
  width: 100%;
  height: 688px;
  background: linear-gradient(
          rgba(12, 128, 254, 0.65),
          rgba(201, 107, 255, 0.65)
  ),
  url(../images/landing.top.png) no-repeat center;
  background-size: cover;
}

.landing-image-bottom {
  position: relative;
  width: 100%;
  height: 432px;
  background: linear-gradient(
          rgba(12, 128, 254, 0.65),
          rgba(201, 107, 255, 0.65)
  ),
  url(../images/landing.bottom.jpg) no-repeat center;
  background-size: cover;
}

#ags-header {
  .center-horizontal;
  top: 200px;
  width: 554px;
  background-color: white;
  color: @font-color;
  box-shadow: @shadow-4dp;
  border-radius: @corner-radius;
  padding: 0.25em 1.5em;

  #logo {
    min-height: 104px;
    text-align: left;
    font-family: "Roboto Slab", sans-serif;
    font-size: 7.5em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  hr {
    height: 3px;
    padding: 0;
    margin: 0;
    border-color: @font-color;
    background-color: @font-color;
  }

  #school {
    width: 100%;
    height: 48px;
    font-family: Rubik, sans-serif;
    font-size: 2.25em;
    text-align: right;
    color: #2d2f33;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  #hss, #sci {
    display: block;
    width: 100%;
    height: 24px;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    text-align: right;

  }
}

#rectangle-buttons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;

  .rectangle-button {
    //flex-basis: 20%;
  }
}

#square-icon-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
