* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@font-face {
  font-family: Rubik;
  src: url("../fonts/rubik_regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url("../fonts/rubik_medium.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik;
  src: url("../fonts/rubik_light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/roboto_slab_light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: #F5F7FA;
}
.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rectangle-button {
  display: inline-block;
  vertical-align: middle;
  max-width: 360px;
  min-width: 256px;
  max-height: 40px;
  margin: 1em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background: white url("../images/icons/right.arrow.blue.svg") no-repeat right 0.5em center;
  outline: none;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-decoration: none;
  text-align: left;
  letter-spacing: normal;
  color: #0c80fe;
  transition: transform 200ms, box-shadow 200ms, color 200ms, background-color 200ms;
}
.rectangle-button:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  color: white;
  background: #0c80fe url("../images/icons/right.arrow.white.svg") no-repeat right 0.5em center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.26);
}
.rectangle-button:active {
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
  transform: scale(0.99);
  color: white;
  background: #0c80fe url("../images/icons/right.arrow.white.svg") no-repeat right 0.5em center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.square-icon-button {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  width: 136px;
  height: 104px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 2em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  padding: 0.5em;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: normal;
  color: #0c80fe;
  background-color: white;
  transition: transform 200ms, box-shadow 200ms, color 200ms, background-color 200ms;
}
.square-icon-button img {
  display: block;
  margin: 1em auto 0.5em;
}
.square-icon-button span {
  position: absolute;
  height: 1.5em;
  bottom: 0.5em;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.square-icon-button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
  background-color: #0c80fe;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.26);
}
.square-icon-button:active {
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
  transform: scale(0.99);
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#landing-image-top {
  position: relative;
  width: 100%;
  height: 688px;
  background: linear-gradient(rgba(12, 128, 254, 0.65), rgba(201, 107, 255, 0.65)), url(../images/landing.top.png) no-repeat center;
  background-size: cover;
}
.landing-image-bottom {
  position: relative;
  width: 100%;
  height: 432px;
  background: linear-gradient(rgba(12, 128, 254, 0.65), rgba(201, 107, 255, 0.65)), url(../images/landing.bottom.jpg) no-repeat center;
  background-size: cover;
}
#ags-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  width: 554px;
  background-color: white;
  color: #2D2F33;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.26), 0 14px 28px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0.25em 1.5em;
}
#ags-header #logo {
  min-height: 104px;
  text-align: left;
  font-family: "Roboto Slab", sans-serif;
  font-size: 7.5em;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
#ags-header hr {
  height: 3px;
  padding: 0;
  margin: 0;
  border-color: #2D2F33;
  background-color: #2D2F33;
}
#ags-header #school {
  width: 100%;
  height: 48px;
  font-family: Rubik, sans-serif;
  font-size: 2.25em;
  text-align: right;
  color: #2d2f33;
  margin-top: 0.5em;
  margin-bottom: 0;
}
#ags-header #hss,
#ags-header #sci {
  display: block;
  width: 100%;
  height: 24px;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  text-align: right;
}
#rectangle-buttons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}
#square-icon-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
/*# sourceMappingURL=landing.css.map */